.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  cursor: unset;
}
.ant-dropdown-trigger{
  display: flex;
  align-items: center;
}
.ant-dropdown-menu {
  padding: 20px 20px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: black;
  font-size: 15px;
  line-height: 16px;

  .ant-dropdown-menu-item {
    &.ant-dropdown-menu-item-active {
      & > a {
        color: #c98505;
      }
    }
  }
  .city {
    cursor: pointer;
    &:hover {
      color: #c98505;
    }
  }
}

.dropdown-mobile {
  position: absolute;
  width: 97vw !important;
  left: 4px !important;
  top: 70px !important;
  z-index: 1000;
  .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
    width: 70vw;
    a {
      color: black;
      &:hover {
        color: #c98505;
      }
    }
  }
  li {
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    color: #000000;
    &:hover {
      color: #c98505;
    }
  }
}
.dropdown-mobile-auth {
  position: absolute;
  width: 97vw !important;
  left: 4px !important;
  top: 70px !important;
  z-index: 1001;
  .ant-dropdown-menu.ant-dropdown-menu-light.ant-dropdown-menu-root.ant-dropdown-menu-vertical {
    width: 100%;
    .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
      display: flex;
      justify-content: center;
    }
  }
}
