.valute-line {
  display: flex;
  height: 20px;
  margin: 15px;
  span {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0%;
    cursor: pointer;
  }
  .valute-line-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
}
