.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-family: 'Roboto Condensed', sans-serif;
}

.top-line__center-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-line__right-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .izbrannoe-button{
    margin: 0 15px;
    cursor: pointer;
  }
}