.dialog-cropper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.dialog-cropper__res {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;

}
.dialog-cropper__preview-item {
  width: 300px;
  height: 200px;
}