.dialog-cropper {
  .dialog-cropper__preview-item {
    display: none;
  }
  .-two {
    .dialog-cropper__preview-item {
      &:nth-child(2) {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: 'FlipH';
      }
      &:nth-child(1) {
        display: block;
      }
      &:nth-child(2) {
        display: block;
      }
    }
  }

  .-four {
    .dialog-cropper__preview-item {
      &:nth-child(1) {
        display: block;
      }
      &:nth-child(2) {
        display: block;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: 'FlipH';
      }
      &:nth-child(3) {
        display: block;
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipH;
        -ms-filter: 'FlipH';
      }
      &:nth-child(4) {
        display: block;
        -moz-transform: scale(-1);
        -o-transform: scale(-1);
        -webkit-transform: scale(-1);
        transform: scale(-1);
      }
    }
  }
  .-six {
    .dialog-cropper__preview-item {
      width: 200px;
    }
    .dialog-cropper__preview-item {
      &:nth-child(1) {
        display: block;
      }
      &:nth-child(2) {
        display: block;
      }
      &:nth-child(3) {
        display: block;
      }
      &:nth-child(4) {
        display: block;
      }
      &:nth-child(5) {
        display: block;
      }
      &:nth-child(6) {
        display: block;
      }
    }
  }
}
