.cropper-panel {
  width: 50px;
  // position: absolute;
  right: -60px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cropper-panel__item {
  margin: 10px;
  cursor: pointer;
  &:hover {
    color: #be9344;
  }
  & > * {
    cursor: pointer;
    &:hover {
      color: #be9344;
    }
  }
}
