.dialog-cropper-crop {
  width: 100%;
  display: flex;
  // flex-direction: column;
  margin-top: 20px;
}
.cropper-crop {
  display: flex;
  justify-content: center;
  // width: 80%;
  // margin: auto;
  // position: a;
  // margin-top: 20px;
  img {
    // width: 100%;
    // height: 100%;
    // opacity: 1 !important;
  }
}
.dialog-cropper-crop__res {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  
  .dialog-cropper-crop__res-img {
    width: 280px;
    // height: 220px;
  }
}
