.dialog-cropper-crop {
  // width: 470px;
  display: flex;
  // justify-content: space-around;
  margin: 30px 30px;
  .cropper {
    display: flex;
    width: 55%;
    justify-content: center;
  }
}
.dialog-cropper-crop-tablet {
  flex-direction: column;
  .dialog-cropper-crop__res {
    width: 80%;
  }
  .cropper {
    width: 90%;
    margin: auto;
  }
}
.dialog-cropper-crop-mobile {
  padding-top: 30px;
  flex-direction: column;
  justify-content: center;
  .cropper {
    width: 90%;
    flex-direction: column;
    .cropper-container {
      width: 100%;
    }
    .cropper-panel {
      flex-direction: row;
      margin: auto;
      width: auto;
    }
  }
  .dialog-cropper__res {
    max-width: 480px;
  }
  .dialog-cropper__preview-item {
    width: 140px;
    height: 120px;
  }
}
.dialog-cropper-crop__res {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;

  .dialog-cropper-crop__res-img {
    h2 {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: 100%;
      text-align: center;
    }
    width: 320px;
    height: 280px;
  }
}
