.content {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  min-height: calc(100vh - 255px);
}
.num-gr-item__labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: -10px;
  top: 10px;
}
.item-label {
  width: 130px;
  height: 25px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -20px;
    z-index: -1;
    right: 0px;
    border: 10px solid transparent;
  }
}
.slab-item-mobile__main-img {
  .item-label {
    z-index: 1;
  }
}
.item-label-new {
  // top: 70px;
  background: rgba(158, 250, 178, 0.85);
  &::before {
    border-left: 10px solid #a6f4b6;
    border-top: 10px solid #a6f4b6;
  }
}

.item-label-order {
  // top: 40px;
  background: rgba(158, 217, 250, 0.85);
  &::before {
    border-left: 10px solid #8abcd7;
    border-top: 10px solid #8abcd7;
  }
}
.item-label-sale {
  // top: 10px;
  background: rgba(252, 90, 90, 0.85);
  color: white;
  &::before {
    border-left: 10px solid #fc6e61;
    border-top: 10px solid #fc6e61;
  }
}
.item-label_gallery {
  z-index: 1;
}
