.num-gr-items-group-list {
  margin-top: 5px;
  display: flex;
  flex-flow: column;

  .num-items-group-col {
    justify-content: space-around;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-align: center;
  }
  > .num-gr-item {
    padding: 20px;
  }
  .num-item {
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      text-align: center;
      &:nth-child(1) {
        flex: 0 1 15%;
      }
      &:nth-child(2) {
        flex: 0 1 15%;
      }
      &:nth-child(3) {
        flex: 0 1 10%;
      }
      &:nth-child(4) {
        flex: 0 1 15%;
      }
      &:nth-child(5) {
        flex: 0 1 13%;
      }
      &:nth-child(6) {
        flex: 0 1 12%;
      }
      &:nth-child(7) {
        flex: 0 1 12%;
      }
    }
  }
}
