.num-gr-items-group-list {
  margin-top: 5px;
  display: flex;
  flex-flow: column;

  .num-items-group-col {
    padding: 5px 20px;
    grid-template-columns: 10fr 10fr 8fr 9fr 7fr 6fr 5fr;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000000;
  
    @media screen and (max-width: 1100px) {
      font-size: 14px;
      line-height: 14px;
    }
    @media screen and (max-width: 880px) {
      font-size: 12px;
      line-height: 12px;
    }
    
    p {
      text-align: center;
    }
  }
  > .num-gr-item {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    padding: 20px;

    border-top: 1px solid #fada9e;
    border-bottom: 1px solid #fada9e;
    display: grid;
    grid-template-columns: 10fr 10fr 8fr 9fr 7fr 6fr 5fr;
    
    * {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 180px;
      height: 80px;
    }
    a {
      color: #BE9344;
    }
  }

}
