.filter-switch.ant-switch-checked {
  background-color: #be9344;
}

.filter-wrapper {
  // height: 999999px;
  // overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.filter-wrapper_browser {
  width: 320px;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 170px;
    left: 15px;
  }
  @media screen and (max-width: 1690px) {
    position: static;
  }
}
.filter-wrapper_tablet {
  width: 320px;
  position: absolute;
}
.filter-wrapper_mobile {
}

.browser-filter {
}

.filter {
  @media screen and (min-width: 768px) {
    position: sticky;
    top: 0px;
    z-index: 2;
  }

  a {
    color: black !important;
    &:hover {
      color: #be9344 !important;
    }
  }
  .ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
    display: none;
  }
  .ant-menu-inline-collapsed.ant-menu-root.ant-menu-inline {
    display: none;
  }

  .ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    @media screen and (max-width: 885px) {
      width: 48vw !important;
    }
    @media screen and (max-width: 767px) {
      position: absolute;
      width: 96vw !important;
      left: -4px;
      top: 51px;
      z-index: 2;

      .ant-menu-submenu {
        width: 70vw;
      }
    }
  }
  .ant-menu-submenu {
    margin: 5px;
    .ant-menu-submenu-title {
      border: 1px solid #d3d3d3;
      border-radius: 4px;
    }
    .ant-menu-submenu-inline {
      .ant-menu-submenu-arrow {
        background: #be9344;
      }
    }
    .ant-menu-submenu-active {
      .ant-menu-submenu-arrow {
        background: #be9344;
      }
    }
  }

  .ant-menu-submenu-open {
    .ant-menu-submenu-title {
      border: 1px solid #be9344;
    }
  }
  .ant-menu-submenu-active {
    .ant-menu-submenu-title {
      .ant-menu-submenu-arrow::before,
      .ant-menu-submenu-arrow::after {
        background: #be9344;
      }
    }
  }

  .ant-menu-item:hover {
    color: #c98505;
  }
  .ant-menu-submenu-title:hover {
    color: black;
  }
  .ant-menu-submenu-selected {
    color: black;
  }
  .ant-menu-item-active {
    color: #c98505;
  }
  .ant-menu-item-selected {
    color: #c98505;
  }
  .ant-menu-submenu-inline
    > .ant-menu-submenu-title:hover.ant-menu-submenu-arrow::after {
    background: #000;
  }
  .filter__button {
    margin-left: 10px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      width: unset;
    }
    .filter__button-click {
      cursor: pointer;
      margin-right: 10px;
    }
  }
}

.close-filter {
  position: absolute;
  right: 25px;
  top: 15px;
}
.filter__color {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 10px;
}
.border-color {
  border: 1px solid gray;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #c98505 !important;
}
.ant-menu-submenu-active {
  .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-arrow::after {
    background: #be9344 !important;
  }
}

.second-line__filter-button {
  .rc-menu-button {
    border: unset;
    line-height: unset;
    &:focus {
      outline: unset;
    }
  }
  .rc-menu-button--open {
    border: unset;
    color: #be9344;
    line-height: unset;
  }
  .rc-menu__item--hover {
    color: #be9344;
  }
  .rc-menu--dir-right {
    max-height: 80vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.mobile-top-filter {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}
