.map {
  width: 100%;
}

.city-cards {
  margin-top: 40px;
  width: 100%;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  @media screen and (max-width: 650px) {
    justify-content: center;
    .city-card {
      flex: 0 1 95%;
    }
  }
}

.city-card {
  flex: 0 1 48%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 10px;
  margin: 10px 5px;
  border: 1px solid #dac79f;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  .address-card__address {
    cursor: pointer;
    &:hover {
      color: #be9344;
    }
  }

  h1 {
    cursor: pointer;
    color: #000;
    @media screen and (max-width: 900px) {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .city-active {
    color: #be9344;
  }

  &:hover {
    h1 {
      color: #be9344;
    }
  }
  color: #000000;
  p {
    margin: 7px 0px;
    white-space: pre-line;
  }
  .address-card__soc {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    a {
      margin: 5px;
    }
  }
}
