@import 'react-image-gallery/styles/scss/image-gallery.scss';

.fifth-lvl__top {
  display: flex;
  justify-content: flex-end;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .main-content__left {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }
  .main-content__right {
    flex: 0 1 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 30px;
    // height: 100%;
  }
  .main-content__info {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
  }
  .main-content__text-block {
    flex: 0 0 40%;
    margin-right: 10px;
    p {
      white-space: nowrap;
    }
    .-wrapped {
      white-space: unset;
    }
  }
}

.main-content__colors {
  display: flex;
  flex-wrap: wrap;
}

.colors-item {
  width: 70px;
  margin: 10px;
  margin-top: 0;
  .colors-item__color {
    width: 100%;
    height: 35px;
  }
  .colors-item__name {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-top: 2px;
    text-align: center;
    margin-bottom: 0;
  }
}

.option-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  max-width: 400px;
  margin-bottom: 20px;
}
.option-line__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}
.image-gallery-icon:hover {
  color: #be9344;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(55vh);
  // width: auto;
}

.fullscreen .image-gallery-slide .image-gallery-image {
  // width: auto;
  max-height: calc(90vh);
}

.image-gallery-play-button {
  display: none;
}

.fifth-lvl__title {
  display: flex;
  justify-content: space-between;
}
.main-content__info-tablet {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.main-content__icons {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-content__photo-icons {
  display: flex;
  justify-content: flex-end;
}
.main-content__add-icons {
  .main-content__add-icon {
    margin: 10px;
  }
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}
.fifth-lvl__opt {
  margin: auto;
  display: flex;
  justify-content: space-around;
}