.content-wrapper {
  display: flex;
}
.home-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 40px;
  h1 {
    display: flex;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    @media screen and (max-width: 550px) {
      font-size: 22px;
      line-height: 150%;
    }
  }
}

.catalog-items-group {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  // opacity: 0;
  transition: opacity 1s linear;
  // transition: left 1s linear;
  // will-change: transform;
  // transform: translateZ(0);
  // position: relative;
  // top: -11500px;
}
.visible-group {
  opacity: 1;
  display: flex;
  // top: unset;
}


.home-bottom-links__link {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  width: 100%;
  color: #000000;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 14px;
  @media screen and (max-width: 800px) {
    font-size: 25px;
    line-height: 29px;
  }
  @media screen and (max-width: 549px) {
    font-size: 16px;
    line-height: 18px;
    border: 1px solid #c4c4c4;
    &:hover {
      border: 1px solid #be9344;
    }
    padding: 20px 10px;
    justify-content: center;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 110px;
  border: 1px solid #e5e5e5;

  @media screen and (min-width: 550px) {
    &::before,
    &::after {
      content: '';
      height: 1px;
      width: 50px;
      position: relative;
      display: inline-block;
      background-color: #c4c4c4;
    }
    &:hover {
      &::before,
      &::after {
        background-color: #be9344;
      }
    }
  }
}

.home-bottom-links__link-active {
  border: unset;
  justify-content: center;
  @media screen and (max-width: 549px) {
    &:hover {
      border: unset;
    }
  }
  &::before,
  &::after {
    display: none;
  }

  @media screen and (min-width: 550px) {
    &::before,
    &::after {
      background-color: #be9344;
    }
  }
  @media screen and (max-width: 549px) {
    border: 1px solid #be9344;
  }
}
