.home-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  h1 {
    display: flex;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    @media screen and (max-width: 550px) {
      font-size: 22px;
      line-height: 150%;
    }
  }
}

.catalog-items-group {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  // grid-template-columns: 13fr 13fr 13fr;
  // grid-gap: 3em 2em;
}

.home-bottom-links {
  margin: 50px 0 70px 0;
  width: 100%;
}

.home-bottom-links__link {
  margin-top: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  width: 100%;
  color: #000000;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    font-size: 25px;
    line-height: 29px;
  }
  @media screen and (max-width: 550px) {
    font-size: 16px;
    line-height: 18px;
    border: 1px solid #c4c4c4;
    padding: 20px 10px;
    justify-content: center;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px;
  @media screen and (min-width: 549px) {
    &::before,
    &::after {
      content: '';
      height: 1px;
      width: 50px;
      position: relative;
      display: inline-block;
      background-color: #c4c4c4;
    }
  }
}
