.lk__navbar {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin-right: 150px;
  li {
    margin: 10px 0;
    & > a {
      color: black;
    }
  }
  .active {
    &::before {
      content: '';
      width: 3px;
      height: 20px;
      position: relative;
      left: -20px;
      bottom: -3px;
      display: inline-block;
      background-color: #be9344;
    }
  }
}
.lk-top {
  display: flex;
  justify-content: space-between;
  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
  }

}
