.lk__navbar {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  margin-right: 150px;
  li {
    margin: 10px 0;
    & > a {
      color: black;
    }
  }
  .active {
    &::before {
      content: '';
      width: 3px;
      height: 20px;
      position: relative;
      left: -20px;
      bottom: -3px;
      display: inline-block;
      background-color: #be9344;
    }
  }
}
.lk-top {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
  }
}
.lk-container {
  .-mobile {
    h1 {
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      margin: 20px;
    }
  }
}

.lk__personal-data {
  width: 500px;
  @media screen and (max-width: 650px) {
    width: 400px;
  }
  @media screen and (max-width: 500px) {
    width: 80%;
  }
  .lk__pd-line {
    margin: 20px;
    height: 40px;
    border-bottom: 2px solid #fada9e;
    max-width: 4500px;
    width: 100%;
    input {
      height: 100%;
      border: none;
      width: 100%;
      padding: 0 10px;
      outline: none;
    }
  }
  .lk__pd-edit-buttons {
    display: flex;
    align-items: center;
    margin: 20px;
    height: 40px;
    max-width: 500px;

    .lk__pd-edit-button {
      margin-right: 30px;
      cursor: pointer;
    }
    .-bordered {
      border: 1px solid #be9344;
      box-sizing: border-box;
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      padding: 10px 45px;
    }
  }
  .-pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .-readonly {
    background: rgb(228, 225, 225);
    input {
      background: rgba(243, 241, 241, 0.74);
    }
  }
}
.reset-pass {
  width: 95%;
  .lk__pd-line {
    width: 90%;
  }
  .centered {
    .button {
      width: 60%;
      margin: auto;
      margin-top: 40px;
    }
  }
}
