.lk__navbar {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin-right: 150px;
  li {
    margin: 10px 0;
    & > a {
      color: black;
    }
  }
  .active {
    &::before {
      content: '';
      width: 3px;
      height: 20px;
      position: relative;
      left: -20px;
      bottom: -3px;
      display: inline-block;
      background-color: #be9344;
    }
  }
}
.lk-top {
  display: flex;
  justify-content: space-between;
  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
  }
}

.lk__personal-data {
  .lk__pd-line {
    margin: 20px;
    height: 40px;
    border-bottom: 2px solid #fada9e;
    max-width: 500px;
    input {
      height: 100%;
      border: none;
      width: 90%;
    }
  }
  .lk__pd-edit-buttons {
    display: flex;
    align-items: center;
    margin: 20px;
    height: 40px;
    max-width: 500px;

    .lk__pd-edit-button {
      margin-right: 30px;
      cursor: pointer;
    }
    .-bordered {
      border: 1px solid #be9344;
      box-sizing: border-box;
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      padding: 10px 45px;
    }
  }
  .-pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .-readonly {
    background: rgb(204, 201, 201);
    input {
      background: rgb(204, 201, 201);
    }
  }
}
