.num-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  align-items: center;
  border-bottom: 2px solid #fada9e;
  // margin-top: 50px;
  padding-bottom: 5px;
  @media screen and (max-width: 1100px) {
    font-size: 14px;
    line-height: 14px;
  }
  @media screen and (max-width: 880px) {
    font-size: 12px;
    line-height: 12px;
  }

  .filter-options {
    display: flex;
    font-weight: normal;
    line-height: 19px;
    justify-content: space-between;
    width: 60%;
    * {
      margin: 0 15px;
      &:nth-child(1) {
        margin-left: 0;
      }

      cursor: pointer;

      &:hover {
        color: #c98505;
      }
    }
  }

  .other-options {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
    width: 50%;
    * {
      margin: 0 5px;
      cursor: pointer;
      &:hover {
        color: #c98505;
      }
    }
  }
}
.num-options-mobile {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  .filter-options-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    > * {
      flex: 0 1 43%;
      padding: 7px 10px;
      margin: 5px;
      cursor: pointer;
      border: 1px solid #be9344;
      box-sizing: border-box;
      border-radius: 4px;
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      // display: flex;
      // align-items: center;
      text-align: center;
      &:hover {
        background-color: #c98505;
        color: white;
      }
    }
  }
}
