.filter {
  height: 45px;
  position: absolute;
  left: -297px;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: black !important;
  background-color: #FADA9E !important;
}

.ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span{
  color: black
}