@import "react-image-gallery/styles/scss/image-gallery.scss";

.buttons-panel__modal {
  display: flex;
  margin-top: 20px;
}
.buttons-panel_mob {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  .slab-item-info__button {
    flex: 0 1 47%;
    margin-top: 15px;
    padding: 15px 10px;
  }
}