.num-gr-item {
  // height: 290px;
  // position: relative;
  width: 280px;
  img {
    width: 280px;
    height: 220px;
  }

  .num-gr-item__name {
    padding: 10px 25px;
    text-align: center;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .num-gr-item__descr {
    margin-top: 8px;

    .num-gr-item__line {
      display: flex;
      justify-content: space-between;
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 100%;
      color: black;
    }

    a {
      color: #BE9344;
    }
    // . {

    // }
  }
  .-num{
    p {
      margin-bottom: 2px;
    }
  }
}
