.num-gr-items-group {
  .numGroup_empty {
    @media screen and (max-width: 1690px) {
      margin: 1% 5px;
    }
    width: 250px;
    margin: 1% 10px;
    @media screen and (max-width: 1044px) {
      width: 320px;
    }
  }
}
