
.top-line__phone{
  display: flex;
  margin: 10px 15px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 14.06px;
  line-height: 100%;
  color: black;
  padding: 5px 0;
  word-wrap: nowrap;
}