html,
body {
  margin: 0;
  scrollbar-color: #be9344 #dadada;
  scrollbar-width: thin;
  /* полоса прокрутки (скроллбар) */
  ::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 5px;
    border-radius: 3px;
    transform: rotate(90deg);
    background-color: #dadada;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: #be9344;
    border-radius: 100%;
    &:vertical {
      height: 17px;
      width: 17px;
    }
    &:horizontal {
      height: 17px;
      width: 17px;
    }
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
  }

  /* Стрелки */

  ::-webkit-scrollbar-button:vertical:start:decrement,
  ::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
  }
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: auto;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      not supported by any browser */
}

.-hovered {
  &:hover {
    background-color: #be9344;
    color: white;
  }
}


.button {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #be9344;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}