body {
  margin: 0;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: auto;
  @media screen and (max-width: 1000px) {
    padding: 0 6px;
  }
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      not supported by any browser */
}

.-hovered {
  &:hover {
    background-color: #BE9344;
    color: white;
  }
}
